@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: "Poppins";
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Arial, sans-serif;
}

.products {
  text-align: center;
  border: 1px solid #b5804e;
}

.products h2 {
  padding: 20px;
}

.productList {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.product {
  border: 1px solid #b5804e;
  border-radius: 10%;
}

.header {
  text-align: center;
  background-color: #391d03;
}

.header h1 {
  color: #ffffff;
}

.header img {
  width: 50px;
  height: 50px;
}

.navbar {
  background-color: #b5804e;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}

.navLinks a {
  list-style: none;
  color: #ffffff;
  text-decoration: none;
}

.navLinks a:hover {
  color: #391d03;
  transition: 0.5s;
}

.informacion {
  background-color: #614936;
  height: 50px;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.informacion ul {
  display: flex;
  justify-content: space-evenly;
  color: #ffffff;
  list-style: none;
}

.instagram {
  text-align: center;
  background-color: #b5804e;
  padding: 100px;
  color: #ffffff;
  justify-content: space-between;
}

.instagram button {
  border-radius: 10px;
  border: none;
  background-color: #391d03;
  height: 50px;
  width: 100px;
  color: #ffffff;
}

.instagram button:hover {
  background-color: #614936;
  transition: 0.5s;
}

.instagram a{
  text-decoration: none;
  color: #fff;
}

footer {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  background-color: #391d03;
  align-items: center;
  text-align: center;
}

.logo img {
  height: 50px;
  width: 50px;
}

.logo img:hover {
  height: 60px;
  width: 60px;
}

.redes {
  display: flex;
  gap: 30px;
  height: 50px;
  width: 50px;
}

.redes button {
  all: unset;
  cursor: pointer;
}

.redes button:hover {
  height: 60px;
  width: 60px;
  transition: 0.5s;
}

.informacionFooter ul {
  list-style: none;
}

.informacionFooter ul a {
  text-decoration: none;
  color: #b5804e;
}

.informacionFooter ul a:hover {
  color: #614936;
  transition: 0.5s;
}

.listaProductos {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.card {
  width: 18rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card a {
  background-color: #391d03;
  border: #391d03;
}

.card a:hover {
  background-color: #614936;
  transition: 0.5s;
}

.card:hover {
  transform: translateY(-5px);
}
.btn {
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}

.cart-container {
  position: relative;
  display: inline-block;
}

#cart-button {
  background-color: #391d03;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#cart-button:hover {
 background-color: #614936;
 transition: 0.5s;
}

.cart-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #b5804e;
  padding: 15px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
}

.cart-dropdown h4 {
  color: #391d03;
  margin-top: 0;
  font-size: 18px;
  border-bottom: 1px solid #b5804e;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#cart-items {
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

#cart-items li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #391d03;
}

#cart-items li button {
  background-color: #b5804e;
  color: #ffffff;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#cart-items li button:hover {
  background-color: #391d03;
}

#total-price {
  font-weight: bold;
  color: #b5804e;
  font-size: 16px;
}

.cart-dropdown p {
  font-size: 16px;
  color: #391d03;
}

.cart-container:hover .cart-dropdown {
  display: block;
}

.cart-container img{
  height: 32px;
  width: 32px;
}

#cart-count{
  display: none;
}

.listaProductos button{
  background-color: #391d03;
  color: #fff;
}

.listaProductos button:hover{
  background-color: #b5804e;
  transition: 0.5s;
  color: #000000;
}